.cellphonecolors-container {
  margin-bottom: 10rem;
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-top: 10px solid #dbb0f7;
  border-bottom: 10px solid #dbb0f7; */
}
.cellphonecolors-title {
  font-weight: bolder;
  padding: 1rem 0;
  color: #fff;
  font-size: 2rem;
}
.cellphonecolors-img {
  width: 100%;
  object-fit: cover;
}

/**    MEDIA QUERIES    **/
@media (max-width: 800px) {
  .cellphonecolors-img {
    height: 300px;
    object-position: 0;
  }
}

@media (max-width: 700px) {
  .cellphonecolors-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .cellphonecolors-title {
    font-size: 1.3rem;
  }
}
