@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #f5ebfb;
  --color2: #5e17eb;
  --font1: "Dancing Script", cursive;
}
